[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = BS
ST = Sarajevo
L = Sarajevo
O = app.io
OU = IT
emailAddress = amar.catovic@isatis.com
CN = localhost

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost